body {
    background-color: #F4F9F8;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.container {
    background: #ffffff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    font-family: 'Inter', sans-serif;
    color: #0B3D2E;
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

.form-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #2F4F4F;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.btn {
    background-color: #2AB587;
    color: #ffffff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex: 1;
}

.btn:hover {
    background-color: #219d74;
}

.resultado {
    font-size: 1.2rem;
    font-weight: bold;
    color: #c92b04;
}

.rodape {
    background-color: #2AB587;
    color: #ffffff;
    position: absolute;
    bottom:0%;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
}